body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #202020;
    color: white;
}


/*Коротко о нас*/
.section-title {
    color: #f9c74f;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-us-content {
    margin-top: 40px;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature h3 {
    color: #f9c74f;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.feature-icon {
    width: 100px;
    height: 100px;
    background-color: #f9c74f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.feature-icon svg {
    width: 60px;
    height: 60px;
    fill: #1a1a1a;
}

.about-icon {
    color: #1a1a1a;
}


/*Шапка*/
.navbar {
    background-color: #1a1a1a;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
}

.nav-link:hover {
    color: #eaa03d;
}

.btn-custom{
    background-color: #f9c74f;
    color: #1a1a1a;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #eaa03d;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}
a:hover {
    color: #1a1a1a ;
    text-decoration: none;
}


/* Work */
.work-container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 900px; 
    margin: 0 auto;
    margin-bottom: 100px;
}

.work-text {
    font-weight: 600;
    font-size: 45px;
    color: #FFA834;
    margin-bottom: 70px;
}

.row {
    display: flex;
    align-items: stretch; 
}

.work {
    border-right: 2px solid #FFA834;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.col-md-4:last-child {
    border-right: none;
}

.row h2 {
    color: white;
    margin-bottom: 20px;
    flex-shrink: 0; 
}

.list-unstyled {
    list-style-type: none;
    padding: 0;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-unstyled li {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px; 
    margin-bottom: 15px; 
    text-align: center;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-warning {
    color: #FFA834;
}








/* Clients */
.client-container {
    background-color: #202020;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.client-container h1 {
    color: #FFA834;
    margin-bottom: 80px;
    font-weight: 600;
}
.client-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1900px; 
    margin: 20px auto;
}

.client-carousel .client-carousel-inner {
    display: flex;
    animation: scroll 30s linear infinite;
}

.client-carousel .client-carousel-item {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    height: 150px;
    width: auto;
}

.clientcarousel-item img {
    width: auto; 
    height: 150px;
    margin: 0 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}





/*Reviews*/

.review-container {
    background-color: #202020;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-text-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.review-text {
    margin-bottom: 20px;
    color: #FFA834;
    
}

.review-text h1 {
    font-weight: 600;
}

.review-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 1000px; 
    margin: 0 auto; 
    position: relative; 
}

.review {
    background-color: #3A3A3A;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
    width: calc(50% - 25px);
    max-width: 400px;
    height: 250px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

.review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.review h5 {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
}
.review p {
    margin-bottom: 10px;
}

.review p:last-child {
    margin-bottom: 0;
}

.reviewer-position {
    line-height: 10px;
    font-size: 10px;
    color: #FFA834;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #FFA834;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #FFA834;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.carousel-control-prev {
    left: calc(50% - 510px); 
}

.carousel-control-next {
    right: calc(50% - 510px); 
}

.carousel-indicators-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel-indicators {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFA834;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.carousel-indicators .active {
    background-color: #FFD700;
    opacity: 1;
}











/*Footer*/


.application-form h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
}

.application-form p {
    color: #ffffff;
    font-size: 16px;

}

.form-substr {
    background-color: #202020;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    background-color: #202020;
    border-radius: 5px;
}

.contact-info div {
    background-color: #202020;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
}

#form-num {
    color: #ffffff;
    font-size: 24px;
}

#form-mail {
    color: #FFA834;
    font-size: 24px;
}

.application-form {
    background-color: #202020;
    padding: 20px;

    width: 100%;
    margin: 0 auto;
}

#application-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#application-form input[type="text"],
#application-form input[type="tel"],
#application-form input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #202020;
    border-radius: 10px;
    padding-left: 15px;
    
}

#application-form button {
    display: block;

    padding: 5px;
    background-color: #ffa834;
    color: #202020;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    line-height: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.privacy {
    margin-top: 20px;
    padding: 10px;
    background-color: #202020;
    border-radius: 5px;
    font-size: 12px !important;
}

.form-group {
    width: 350px;
}

.form-control {
    background-color: #161616;
    color: #575757;
    height: 45px;
}
.form-control::placeholder {
    color: #575757;
    opacity: 1; 
    font-weight: 600;
}
.form-control:-ms-input-placeholder {
    color: #575757;
}
.form-control::-ms-input-placeholder {
    color: #575757;
}

