/* Подключение шрифта Etude Noire из папки src/fonts */
@font-face {
    font-family: 'Etude Noire Medium'; 
    src: url('/src/fonts/Etude Noire Medium.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'Etude Noire Bold'; 
    src: url('src/fonts/Etude Noire Bold.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'Etude Noire Light'; 
    src: url('/src/fonts/Etude Noire Light.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'Etude Noire Regular'; 
    src: url('src/fonts/Etude Noire Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}


body, h1, h2, h3, h4, h5, h6, p, a, button, .nav-link, .btn, .case-button a {
    font-family: 'Etude Noire Medium', sans-serif;
}

body {
    margin: 0;
    background-color: #202020;
    color: white;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }

/* Main-video */
.video-container {
    position: relative;
    width: 100%; 
    height: 750px; 
    margin: 0 auto;
    overflow: hidden; 
    margin-bottom: 100px;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

.black-top {
    background-color: black;
    height: 20px;
    width: 100%;
}

.black-bottom {
    background-color: black;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container-fluid {
    position: relative;
    z-index: 1;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

.text-center {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.display-3 {
    font-size: 150px;
    font-weight: 600;
    line-height: 1.2;
}

.display-4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 50px !important;
}

.lead {
    font-family: "Etude Noire Light", sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.btn-warning {
    color: #fff;
    background-color: #FFA834;
    border-color: #FFA834;
    border-radius: 50px;
    padding: 10px 70px;
    line-height: 22px;

}

/*Коротко о нас*/
.section-title {
    color: #ffa834;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 800;
}


.about-us-content {
    font-family: 'Etude Noire Light', sans-serif;
    margin-top: 40px;
}
.custom-span {
    display: inline-block; 
    margin-bottom: 10px; 
}


.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.feature p {
    font-family: 'Etude Noire Light';
}

.feature-icon {
    width: 100px;
    height: 100px;
    background-color: #FFA834;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.feature-icon svg {
    width: 60px;
    height: 60px;
    fill: #1a1a1a;
}

.about-icon {
    color: #1a1a1a;
}
.about-us {
    opacity: 0;
    animation: fadeIn 2s forwards;
}
.section-title {
    animation-delay: 0s;
}
.about-us-content {
    animation-delay: 1s;
}
.feature {
    opacity: 0;
    animation: fadeIn 2s forwards;
}
.feature {
    animation-delay: 2s;
}


/*Кейсы*/
.cases-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.title-container {
    height: 250px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.imij, .klips, .reports, .photo, .social {
    margin: 20px 0px;
    width: 100%;
    height: 800px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 2s ease; /*появление цвета!!!!!!!!!!!!*/
    filter: grayscale(100%); 
    overflow: hidden;
}

.klips:hover .cases-content,
.photo:hover .cases-content {
    opacity: 1;
    transform: translateX(0);
}

.klips .cases-content,
.photo .cases-content {
    transform: translateX(-50%);
}

.imij:hover .cases-content,
.reports:hover .cases-content,
.social:hover .cases-content {
    opacity: 1;
    transform: translateX(0);
}

.imij .cases-content,
.reports .cases-content,
.social .cases-content {
    transform: translateX(50%);
}



.imij:hover, .klips:hover, .reports:hover, .photo:hover, .social:hover {
    filter: grayscale(0%); 
}

.klips h1, .reports h1, 
.photo h1, .social {
    font-size: 70px;
    font-weight: 700;
}

.imij h1 {
    font-size: 70px;
    font-weight: 600;
    color: rgba(15, 51, 78, 1);
}

.klips h1 {
    color: rgba(255, 71, 129, 1);
}

.reports h1 {
    color: rgba(72, 255, 154, 1);
}

.photo h1 {
    color: rgba(188, 166, 151, 1);
}

.social h1 {
    color: rgba(103, 65, 53, 1);
    font-weight: 600;
    font-size: 60px;
}

.imij {
    background-image: url('/src/img/main/one_new.jpg');
}

.klips {
    background-image: url('/src/img/main/two_new.png');
}

.reports {
    background-image: url('/src/img/main/three.png');
}

.photo {
    background-image: url('/src/img/main/four.jpg');
}

.social {
    background-image: url('/src/img/main/five.jpg');
}

.cases-content {
    height: 100%;
    padding-bottom: 100px;
}

.imij .cases-content {
    background-color: rgba(219, 224, 230, 0.8);
}

.klips .cases-content {
    background-color: rgba(125, 53, 70, 0.8);
}

.reports .cases-content {
    background-color: rgba(0, 112, 50, 0.5);
}

.photo .cases-content {
    background-color: rgba(34, 48, 42, 0.8);
}

.social .cases-content {
    background-color: rgba(255, 152, 121, 0.7);
}

.case-button { 
    height: 80px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 2s ease, background-color 2s ease;
    line-height: 20px !important;
}

.case-button:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.imij .case-button {
    background-color: rgba(15, 51, 78, 1) !important;
}

.imij .case-button:hover {
    background-color: rgb(28, 113, 177) !important; 
}

.klips .case-button {
    background-color: rgba(255, 71, 129, 1) !important;
}

.klips .case-button:hover {
    background-color: rgba(255, 100, 150, 1) !important; 
}

.reports .case-button {
    background-color: rgba(72, 255, 154, 1) !important;
}

.reports .case-button:hover {
    background-color: rgb(20, 254, 125) !important; 
}

.photo .case-button {
    background-color: rgba(188, 166, 151, 1) !important;
}

.photo .case-button:hover {
    background-color: rgba(210, 190, 170, 1) !important; 
}

.social .case-button {
    background-color: rgba(103, 65, 53, 1);
}

.social .case-button:hover {
    background-color: rgb(144, 94, 79);
}

.case-button a {
    font-size: 30px;
    color: white !important;
}

#imij-title, #klips-title, #reports-title, #photo-title, #social-title {
    transition: opacity 0.5s ease;
}





/*Шапка*/
/* Existing styles */

.hiden-logo {
    display: none;
}

a.active {
    color: #ffa834 !important;
}

.navbar {
    background-color: #161616;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #ffa834;
}

.nav-item img {
    width: 200px;
}

.navbar ul li a.active {
    color: #ffa834;
}

.btn-custom {
    background-color: #ffa834;
    color: #1a1a1a;
    border-radius: 30px;
    transition: background-color 0.3s;
    line-height: 15px;
    padding: 5px 10px;
}

.btn-custom:hover {
    background-color: #eaa03d;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}

a:hover {
    color: #1a1a1a;
    text-decoration: none;
}

/* New styles for the menu button and sliding menu */
.menu-toggle {
    position: fixed;
    top: 14px;
    right: 20px;
    background-color: #ffa834;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

.nav-item-menu img {
    padding-right: 40px;
    padding-bottom: 10px;
}

.menu-toggle i {
    color: black;
    font-size: 24px;
}

.slide-menu {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
    background-color: #161616;
    transition: right 0.3s ease;
    z-index: 999;
    overflow-y: auto;
    padding: 20px;
    padding-top: 6px !important;
}

.slide-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide-menu .nav-link {
    color: white;
    padding: 15px 20px;
}

.border-b {
    border-bottom: 1px solid #444444;
}

.slide-menu .nav-link:hover {
    background-color: #ffa834;
    color: black;
}

.slide-menu .btn-custom {
    width: calc(100% - 40px);
    margin: 10px 20px;
}

.menu-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}



/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}



/* Work */
.work-container {
    padding: 50px 20px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.work-text {

    font-weight: 600;
    font-size: 45px;
    color: #FFA834;
    margin-bottom: 70px;
}

.work {
    padding: 20px;
}

.yellow-border {
    border-right: 2px solid #FFA834;
}

.col-md-4:last-child {
    border-right: none;
}

.row h2 {
    color: white;
    margin-bottom: 20px;
}

.list-unstyled {
    padding: 0;
}

.list-unstyled li {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px; 
    margin-bottom: 15px; 
    text-align: center;
    min-height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-warning {
    color: #FFA834;
}

.p-d-flex {
    display: flex;
    align-items: center;
}

.p-d-flex p {
    margin: 0px !important;
}

.mtt-rem1 {
    margin-top: 5.999rem;
}

.mtt-rem2 {
    margin-top: 5.999rem;
}







/* Clients */
.client-container {
    background-color: #202020;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.client-container h1 {
    color: #FFA834;
    margin-bottom: 80px;
    font-weight: 600;
}
.client-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px auto;
}

.client-carousel .client-carousel-inner {
    display: flex;
    animation: scroll 30s linear infinite;
}

.client-carousel .client-carousel-item {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    height: 150px;
    width: auto;
}

.clientcarousel-item img {
    width: auto; 
    height: 150px;
    margin: 0 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}





/*Reviews*/


.carousel {
    width: 1000px;
}

.review-container {
    background-color: #202020;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-text-container {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.review-text {
    margin-bottom: 20px;
    color: #FFA834;
    
}

.review-text h1 {
    font-weight: 600;
}

.review-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto; 
    position: relative; 
}

.review {
    background-color: #3A3A3A;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
    height: 250px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

.review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.review h5 {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
}
.review p {
    margin-bottom: 10px;
}

.review p:last-child {
    margin-bottom: 0;
}

.reviewer-position {
    line-height: 10px;
    font-size: 10px;
    color: #FFA834;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #FFA834;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #FFA834;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.carousel-indicators-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel-indicators {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFA834;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.carousel-indicators > :nth-child(4),
.carousel-indicators > :nth-child(5),
.carousel-indicators > :nth-child(6) {
    display: none;
}

.carousel-indicators .active {
    background-color: #FFD700;
    opacity: 1;
}

.hiden {
    display: none;
}









/*Footer*/


.application-form h1 {
    color: #FFA834;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
}

.application-form p {
    font-family: 'Etude Noire Light';
    color: #ffffff;
    font-size: 16px;

}

.form-substr {
    background-color: #202020;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.contact-info {
    padding: 0px;
    background-color: #202020;
    border-radius: 5px;
}

.contact-info div {
    background-color: #202020;
    border-radius: 5px;
}

#form-num {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

#form-mail {
    color: #FFA834;
    font-size: 24px;
    text-align: center;
}

.application-form {
    background-color: #202020;
    padding: 20px;
}

#application-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

#application-form input[type="text"],
#application-form input[type="tel"],
#application-form input[type="email"] {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #202020;
    border-radius: 10px;
    padding-left: 15px;
    
}

#application-form button {
    padding: 5px;
    background-color: #ffa834;
    color: #202020;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    line-height: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.privacy {
    margin-top: 20px;
    padding: 10px;
    background-color: #202020;
    border-radius: 5px;
    font-size: 12px !important;
    text-align: center;
}

.form-group input {
    width: 100%;
}

.form-controle {
    background-color: #161616;
    color: #575757;
    height: 45px;
}
.form-controle::placeholder {
    color: #575757;
    opacity: 1; 
    font-weight: 600;
}
.form-controle:-ms-input-placeholder {
    color: #575757;
}
.form-controle::-ms-input-placeholder {
    color: #575757;
}

.form-inner {
    padding: 0px 15px;
}

.container-fluid {
    flex-wrap: wrap !important;
}


.marquee {
    display: flex;
    block-size: var(--marquee-item-height);
    position: relative;
    _overflow-x: hidden;
    _mask-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
}
  
.lazer {
    margin-top: 100px;
}  

.marquee--11 {
    --marquee-item-width: 200px;
    --marquee-item-height: 300px;
    --marquee-duration: 50s;
    --marquee-items: 11;
}
  
.marquee__item {
    max-width: 300px;
    max-height: 300px;
    --marquee-item-offset: 5500px;
    --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--marquee-item-index)) * -1);
    position: absolute;
    inset-inline-start: var(--marquee-item-offset);
    transform: translateX(-50%);
    animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
}
  
  
.marquee--11 .marquee__item:nth-of-type(1) {
    --marquee-item-index: 1;
}
  
.marquee--11 .marquee__item:nth-of-type(2) {
    --marquee-item-index: 2;
}
  
.marquee--11 .marquee__item:nth-of-type(3) {
    --marquee-item-index: 3;
}
  
.marquee--11 .marquee__item:nth-of-type(4) {
    --marquee-item-index: 4;
}
  
.marquee--11 .marquee__item:nth-of-type(5) {
    --marquee-item-index: 5;
}
  
.marquee--11 .marquee__item:nth-of-type(6) {
    --marquee-item-index: 6;
}

.marquee--11 .marquee__item:nth-of-type(7) {
    --marquee-item-index: 7;
}

.marquee--11 .marquee__item:nth-of-type(8) {
    --marquee-item-index: 8;
}

.marquee--11 .marquee__item:nth-of-type(9) {
    --marquee-item-index: 9;
}

.marquee--11 .marquee__item:nth-of-type(10) {
    --marquee-item-index: 10;
}

.marquee--11 .marquee__item:nth-of-type(11) {
    --marquee-item-index: 11;
}
  
@keyframes go {
    to {
        inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
}

@media (max-width: 1600px) {

    .imij, .klips,
    .reports, .photo, .social {
        height: 700px;
    }
}

@media (max-width: 1400px) {
    .reports h1 {
        font-size: 60px;
    }

    .imij, .klips,
    .reports, .photo {
        height: 650px;
    }

    .cases-content {
        padding-bottom: 60px;
    }
}

@media (max-width: 1270px) {
    .case-button a {
        font-size: 20px;
    }

    .case-button {
        height: 70px;
    }
}

@media (max-width:1200px) {
    #review-2, #review-4,
    #review-6 {
        display: none;
    }

    .carousel {
        width: 700px;
    }

    #review-2-h, #review-4-h,
    #review-6-h {
        display: flex;
    }

    .reports h1 {
        font-size: 50px;
    }

}


@media (max-width: 1162px) {
    .imij h1 {
        font-size: 50px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .navbar {
        display: noned;
    }

    .klips h1 {
        font-size: 80px;
    }

    .reports h1 {
        font-size: 52px;
    }

    .case-button {
        height: 60px;
    }

    .photo h1 {
        font-size: 70px;
    }

    .imij, .klips,
    .reports, .photo, .social {
        height: 500px;
        filter: grayscale(0%); 
        overflow: hidden;
    }

    .yellow-border {
        border: none;
    }

    .carousel {
        width: 550px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    #form-mail, #form-num {
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar-nav .nav-item,
    .navbar-buttons {
        display: none;
    }

    .slide-menu.active {
        right: 0;
    }

    .overlay.active {
        display: block;
    }

    .navbar-buttons .btn-custom {
        display: none;
    }

    .mtt-rem1 {
        margin-top: 0rem;
    }
    
    .mtt-rem2 {
        margin-top: 0rem;
    }

    .hiden-logo {
        display: block;
    }

    .display-3 {
        font-size: 120px;
    }

    .cases-content {
        opacity: 1;
        margin: 0px !important;
    }

    .klips .cases-content,
    .photo .cases-content {
        transform: translateX(0%);
    }

    .imij .cases-content,
    .reports .cases-content,
    .social .cases-content {
        transform: translateX(0%);
    }

}

@media (max-width: 768px) {

    .display-3 {
        font-size: 90px;
    }

    .lead {
        font-size: 20px;
    }

    .imij .cases-content {
        background-color: rgba(106, 106, 106, 0.8);
    }

    .imij h1 {
        color: white;
    }
}

@media (max-width: 576px) {
    .display-3 {
        font-size: 70px;
    }

    .display-4 {
        font-size: 18px;
    }

    .lead {
        font-size: 20px;
    }

    .photo h1 {
        font-size: 60px;
    }

    .carousel {
        width: 400px;
    }

    .review-text h1 {
        font-size: 36px;
    }

    .review-content p {
        font-size: 12px;
    }
    
    .review {
        height: 260px;
    }

    .review-p-2 {
        display: none;
    }
    
    .hiden {
        display: inline;
    }

    .form-inner {
        width: 100% !important;
    }
}

@media (max-width: 450px) {
    .display-3 {
        font-size: 50px;
    }

    .carousel {
        width: 300px;
    }

    .application-form h1 {
        font-size: 30px;
        margin-bottom: 0px !important;
    }

    .reports h1 {
        font-size: 42px;
    }

    .klips h1 {
        font-size: 60px;
    }

    .imij h1 {
        font-size: 40px;
    }

    .social h1 {
        font-size: 40px;
    }

    .case-button a {
        font-size: 16px;
    }

    .cases-content {
        padding-bottom: 30px;
    }
}

@media (max-width: 370px) {

    .list-unstyled li p {
        font-size: 12px;
    }

    .work h2 {
        font-size: 22px;
    }

    .review-text h1 {
        font-size: 32px;
    }

    #fullname, #phone,
    #email {
        font-size: 12px !important;
    }

    #form-num, #form-mail {
        font-size: 18px;
    }

    .reports h1 {
        font-size: 36px;
    }
}