section {
    margin-bottom: 40px;
}

.portfolio-header-container {
    background-color: #ffa834;
}

.portfolio-header {
    text-align: center;
    padding: 10px 0;
}

.portfolio-header {
    background-color: rgba(255, 168, 52, 1);
    color: #202020;
}

.photo-container {
    width: 100%;  
    overflow: hidden; 
}


.photo-container img {
    width: 100%; 
    height: 700px; 
    display: block; 
    object-fit: cover; 
}

.content {
    background-color: #202020;
    color: white;
    padding: 50px 0px;
}

.content p {
    font-size: 25px;
    font-family: 'Etude Noire Light';
}

.question {
    display: inline-block;
    color: #202020;
    background-color: #ffffff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 36px !important;
    font-family: 'Etude Noire Medium' !important;
}

.portfolio-btn{
    background-color: rgba(255, 168, 52, 1);
    border-color: rgba(255, 168, 52, 1);
    color: #202020;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 26px;
}

.portfolio-btn:hover {
    background-color: rgba(255, 168, 52, 1);
    border-color: rgba(255, 168, 52, 1);
}

@media (max-width: 768px) {
    .imij-p h1 {
        font-size: 30px;
    }

    .photo-container img {
        height: 500px;
    }    

    .content p {
        font-size: 26px;
    }

    .portfolio-btn{
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .imij-p h1 {
        font-size: 20px;
    }

    .photo-container img {
        height: 300px;
    }  

    .content p {
        font-size: 20px;
    }

    .portfolio-btn {
        font-size: 16px;
    }

    #budget, #date,
    #time, #channel,
    #audience, #company,
    #email, #phone,
    #fullname, #todo {
        font-size: 12px !important;
    }

}

@media (max-width: 380px) {
    .social-p h1 {
        font-size: 30px;
    }
}